'.source.classicalb':
  'WHILE':
    'prefix': 'while'
    'body': 'WHILE ${1:p}\nDO\n\t${2:G}\nVARIANT ${3:E}\nINVARIANT ${4:Q}\nEND'
  'PRE':
    'prefix': 'pre'
    'body': 'PRE ${1:p}\nTHEN\n\t${2:G}\nEND'
  'VAR':
    'prefix': 'var'
    'body': 'VAR ${1:z}\nIN\n\t${2:G}\nEND'
  'ANY':
    'prefix': 'any'
    'body': 'ANY ${1:z}\nWHERE\n\t${2:P}\nTHEN\n\t${3:G}\nEND'
  'LET':
    'prefix': 'let'
    'body': 'LET ${1:x}\nBE ${2:E}\nIN\n\t${3:G}\nEND'
  'IF':
    'prefix': 'if'
    'body': 'IF ${1:p}\nTHEN\n\t${2:G}\nEND'
  'IF ... ELSE':
    'prefix': 'ifelse'
    'body': 'IF ${1:p}\nTHEN\n\t${2:G}\nELSE\n\t${2:H}\nEND'
  'CHOICE':
    'prefix': 'choice'
    'body': 'CHOICE\n\t${1:G}\nOR\n\t${2:H}\nEND'
  'SELECT':
    'prefix': 'select'
    'body': 'SELECT ${1:p}\nTHEN\n\t{$2:G}\nWHEN ${3:q}\nTHEN\n\t${4:H}\nEND'
  'SELECT ... ELSE':
    'prefix': 'selectelse'
    'body': 'SELECT ${1:p}\nTHEN\n\t{$2:G}\nWHEN ${3:q}\nTHEN\n\t${4:H}\nELSE\n\t${5:E}END'
  'CASE':
    'prefix': 'choice'
    'body': 'CHOICE\n\t${1:G}\nOR\n\t${2:H}\nEND'
