'.source.classicalb':
  'WHILE':
    'prefix': 'while'
    'body': 'WHILE ${1:p}\nDO\n\t${2:G}\nVARIANT ${3:E}\nINVARIANT ${4:Q}\nEND'
  'PRE':
    'prefix': 'pre'
    'body': 'PRE ${1:p}\nTHEN\n\t${2:G}\nEND'
