'.source.classicalb':
  'Relation':
    'prefix': 'relation'
    'body': '<->'
  'Partial Function':
    'prefix': 'partialfunction'
    'body': '+->'
  'Total Function':
    'prefix': 'totalfunction'
    'body': '-->'
  'Partial Injection':
    'prefix': 'partialinjection'
    'body': '>+>'
  'Total Injection':
    'prefix': 'totalinjection'
    'body': '>->'
  'Partial Surjection':
    'prefix': 'partialsurjection'
    'body': '+->>'
  'Total Surjection':
    'prefix': 'totalsurjection'
    'body': '-->'
  'Bijection':
    'prefix': 'bijection'
    'body': '>->>'
